{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="/classroom/delete/" novalidate="">
        {% csrf_token %}

        <input id="classId" type="hidden" value="{{ classroom.classId }}"
               name="classId">

        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h4 class="text-danger ml-2">
                        Are You Sure you want to delete '{{ classroom.name }}' classroom ?
                    </h4><br>
                    {% if errorMessage %}
                        <h5 class="text-danger">{{ errorMessage }}</h5>
                    {% endif %}
                    <div>
                        <div class="p-1"><b>Name :- </b>{{ classroom.name }}</div>
                        <div class="p-1"><b>Description :- </b>{{ classroom.description }}</div>
                        <div class="p-1"><b>Year :- </b>{{ classroom.year }}</div>
                        <div class="p-1"><b>Branch :- </b>{{ classroom.branch }}</div>
                    </div>

                    <div class="float-right">
                        <a class="btn btn-secondary"
                           href="/classroom/">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

