<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Classroom Details</title>
</head>
<body>
    <form method="POST" action="/classroom/edit/" novalidate="">
        {% csrf_token %}
        <div>
            {% if errorMessage %}
                {{ errorMessage }}
            {% endif %}
        </div>

        Classroom Id : <input type="number" value="{{ classroom.classId }}"
                   disabled autofocus>
        <br>

        <input id="classId" type="hidden" value="{{ classroom.classId }}"
                   name="classId">
        <br>

        Classroom code : <input type="text" value="{{ classroom.classroomCode }}"
                   disabled autofocus>
        <input id="classroomCode" type="hidden" value="{{ classroom.classroomCode }}"
                   name="classroomCode" >

        <br>

        <div>
            <label for="name">Name</label>
            <input id="name" type="text" value="{{ classroom.name }}"
                   name="name" required autofocus>
        </div>

        <div>
            <label >Description</label>
            <textarea id="description"
                   name="description" required autofocus>{{ classroom.description }}</textarea>
        </div>

        Semester
        <input id="semester" type="number" value="{{ classroom.semester }}" min="1" max="8"
                   name="semester" required autofocus>

        Branch
        <input id="branch" type="text" value="{{ classroom.branch }}"
                   name="branch" required autofocus>
        <br>

        <div>
            <button type="submit" class="btn btn-primary btn-block">
                Update
            </button>
        </div>
    </form>
</body>
</html>