{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <br><br><br>
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <div class="h3 text-primary font-weight-bold">Join Classroom</div>
                </div>
                <div class="card-body">
                    <form class="forms-sample" method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <div class="col-sm-12">
                                {% if errorMessage %}
                                    <div class="text-danger">{{ errorMessage }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="classroomCode" class="col-form-label">Classroom Code : </label>
                            <input id="classroomCode" class="form-control" type="text" value="{{ classroomCode }}"
                                   placeholder="Enter Classroom Code" name="classroomCode" value="" required
                                   autofocus>
                        </div>
                        <br>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-md btn-block mr-2">Join Classroom</button>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}