{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="row page-title-header">
        <div class="col-12">
            <div class="page-header">
                <h4 class="page-title">My Classrooms</h4>
            </div>
        </div>
        {% if user.isStudent %}
            <div class="col-md-12">
                <div class="page-header-toolbar">
                    <div class="sort-wrapper">
                        <a href="/classroom/join" class="btn btn-primary btn-lg toolbar-item">Join New Classroom</a>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="col-md-12">
                <div class="page-header-toolbar">
                    <div class="sort-wrapper">
                        <a href="/classroom/create" class="btn btn-primary btn-lg toolbar-item">Create New Classroom</a>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
    <div class="row">
        {% if user.isStudent %}
            {% for classroomStudent in classroomStudents %}
                <div class="col-md-4 grid-margin">
                    <a href="/classroom/view?id={{ classroomStudent.classroom.classId }}">
                        <div class="card">
                            <div class="card-header font-weight-semibold"
                                 style="background-image: url('{% static 'images/classroom-bg.jpg' %}');color: white;">
                                {{ classroomStudent.classroom.name }}
                            </div>
                            <div class="card-body" style="height: 200px;">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            {% for classroom in classrooms %}
                <div class="col-md-4 grid-margin">
                    <a href="/classroom/view?id={{ classroom.classId }}">
                        <div class="card">
                            <div class="card-header font-weight-semibold"
                                 style="background-image: url('{% static 'images/classroom-bg.jpg' %}');color: white;">
                                {{ classroom.name }}
                            </div>
                            <div class="card-body" style="height: 200px;">
                                <div class="wrapper"></div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
