{% extends 'layouts/base.html' %}
{% load static %}
{% block content %}
    <div class="row">
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-header font-weight-semibold"
                     style="background-image: url('{% static 'images/classroom-bg.jpg' %}');color: white;height: 200px;text-align: center;">

                    <h2>{{ classroom.name }}</h2>
                    <div style="text-align: right;">
                        Faculty :- {{ classroom.user.username }}<br>
                        Semester : {{ classroom.semester }}<br>
                        Year : {{ classroom.year }}<br>
                        Branch : {{ classroom.branch }}<br>
                        {% if not user.isStudent %}
                            Code :- {{ classroom.classroomCode }}
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div><br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body h5" style="text-align: center;">
                    <a href="/labs/?classId={{ classroom.classId }}">View Labs</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card rounded">
                <div class="card-body h5" style="text-align: center;">
                    <a href="/contests/?classId={{ classroom.classId }}">View Contests</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-12">
            <div class="card card-white post round-border">
                <div class="post-heading">
                    <div class="float-left image">
                        <img src="/uploads/{{ user.profilePicture }}" class="img-circle avatar" alt="user profile image">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b>{{ user.username}}</b></a>
                        </div>
                    </div>
                </div>
                <div class="post-description">
                    <form action="" method="POST">
                        <div class="input-group">
                      <textarea class="form-control" rows="3" required placeholder="Share Something With Class"
                                aria-label="With textarea"></textarea>
                        </div>
                        <br>
                        <div class="float-right">
                            <button type="reset" class="btn btn-secondary btn-md">Clear</button>
                            <button type="submit" class="btn btn-primary btn-md">Post</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <br>

    <!-- This will be in loop for all comments -->
    <div class="row">
        <div class="col-12">
            <div class="card card-white post round-border">
                <div class="post-heading">
                    <div class="float-left image">
                        <img src="http://bootdey.com/img/Content/user_1.jpg" class="img-circle avatar"
                             alt="user profile image">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b>Pandav Patel</b></a>
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <div>
                        Dear students, Problems of first lab are set and deadline is mentioned at lab's page. Start
                        Solving
                        the problems.
                        Mail me or ask me if you have any doubt.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- Loop Ends -->
    <div class="row">
        <div class="col-12">
            <div class="card card-white post round-border">
                <div class="post-heading">
                    <div class="float-left image">
                        <img src="http://bootdey.com/img/Content/user_3.jpg" class="img-circle avatar"
                             alt="user profile image">
                    </div>
                    <div class="float-left meta">
                        <div class="title h5">
                            <a href="#"><b>Nevil Parmar</b></a>
                        </div>
                        <h6 class="text-muted time">1 minute ago</h6>
                    </div>
                </div>
                <div class="post-description">
                    <div>
                        Sir, It seems like there has been problem while setting the lab as problems are not available
                        for
                        lab1.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
{% endblock %}