<!DOCTYPE html>
<html lang="en">

{# Static Assets #}
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>Online Lab Assessment</title>
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/mdi/css/materialdesignicons.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/ionicons/dist/css/ionicons.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/iconfonts/flag-icon-css/css/flag-icon.min.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}"/>
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.addons.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/shared/style.css' %}"/>
    <link rel="stylesheet" href="{% static 'css/demo_1/style.css' %}"/>
    <style>
        .classroom-wrapper {
            height: 10%;
            width: 10%;
        }

        .round-border {
            border-radius: 20px;
        }

        a {
            text-decoration: none !important;
        }

        a:hover {
            text-decoration: none !important;
        }
    </style>
</head>
<body>
<div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center text-center error-page bg-primary">
            <div class="row flex-grow">
                <div class="col-lg-7 mx-auto text-white">
                    <div class="row align-items-center d-flex flex-row">
                        <div class="col-lg-6 text-lg-right pr-lg-4">
                            <h1 class="display-1 mb-0">404</h1>
                        </div>
                        <div class="col-lg-6 error-page-divider text-lg-left pl-lg-4">
                            <h2>SORRY!</h2>
                            <h3 class="font-weight-light">The page you’re looking for was not found.</h3>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 text-center mt-xl-2">
                            <a class="text-white font-weight-medium" href="../../index.html">Back to home</a>
                        </div>
                    </div>
                    <div class="row mt-5">
                        <div class="col-12 mt-xl-2">
                            <p class="text-white font-weight-medium text-center">Copyright &copy; 2020 All rights
                                reserved.</p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
{# End of Container-scroller #}
<script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
<script src="{% static 'vendors/js/vendor.bundle.addons.js' %}"></script>
<script src="{% static 'js/shared/off-canvas.js' %}"></script>
<script src="{% static 'js/shared/misc.js' %}"></script>
<script src="{% static 'js/shared/jquery.cookie.js' %}" type="text/javascript"></script>

</body>
</html>