{% extends "layouts/password_base.html" %}
{% load crispy_forms_tags %}
{% block content %}
     <br>
    <div class="content-section">
        <form method="POST" style="color: white">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4" style="color: white">Reset Password</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Request Password Reset</button>
            </div>
        </form>
    </div>
{% endblock content %}
