{% extends 'layouts/base.html' %}
{% load static %}
{% block headContent %}
    <!--Markdown CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            <div class="card">
                <div class="card-header" style="text-align: center;">
                    <div class="h3 text-primary font-weight-bold">Create Blog</div>
                </div>
                <div class="card-body">
                    <form method="post" action="/blogs/create/" novalidate>
                        {% csrf_token %}
                        {% if errorMessage %}
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <div class="text-danger">{{ errorMessage }}</div>
                                </div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <label for="title" class="col-form-label">Title</label>
                            <div class="input-group">
                                <input id="title" class="form-control" type="text"
                                       placeholder="Enter Blog Title" name="title"  required
                                       autofocus>
                            </div>
                        </div>
                         <!-- Hidden fields required for passing the data of markdown editor after submitting the form -->
                        <!--Textarea required for attaching markdown editor -->
                        <div>
                            <input type="hidden" name="description" id="description"
                                   value="">
                        </div>
                        <div class="form-group">
                            <label for="MDDescription">Description</label><br>
                            <textarea class="form-control" id="MDDescription" type="text" rows="10" cols="50"
                                      value="{{ description }}"
                                      name="MDDescription" value="" required></textarea>
                        </div>

                        <br>
                        <div class="form-group">
                             <div class="inline-group">
                                <button type="submit" OnClick="return validate();"
                                        class="btn btn-primary btn-block btn-md mr-2">Create
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-2"></div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>

        // initialization of markdown editor with the custom toolbar
        let simpleMDE = new SimpleMDE({
            element: document.getElementById("MDDescription"),
            toolbar: ["bold", "italic", "heading"],
        });

        //passing data to the hidden field in the form
        function validate() {
            console.log(simpleMDE.value());
            document.getElementById("description").value = simpleMDE.value();
        }
    </script>
{% endblock %}

