{% extends "layouts/base.html" %}
{% load static %}

{% block content %}
    <div class="row page-title-header">
        <div class="col-sm-12">
            <div class="page-header">
                <h4 class="page-title text-center">Blogs</h4>
            </div>
        </div>
    </div>
    <div class="row">
        {% if user.isStudent %}
            {% for blog in blogs %}
                <div class="col-md-4 grid-margin">
                    <a href="/blogs/view?id={{ blog.blogId }}">
                        <div class="card">
                            <div class="h5 card-header card-header-own font-weight-semibold"
                                 style="background-image: url('{% static 'images/classroom-bg.jpg' %}');color: white;">
                                {{ blog.title }}
                            </div>
                            <div class="card-body justify-content-center" style="height: 200px">
                                <div class="card-text" >{{ blog.description }}</div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% else %}
            {% for blog in blogs %}
                <div class="col-md-4 grid-margin">
                    <a href="/blogs/view?id={{ blog.blogId }}">
                        <div class="card rounded">
                            <div class="h5 card-header card-header-own font-weight-semibold"
                                 style="background-image: url('{% static 'images/classroom-bg.jpg' %}');color: white;">
                                {{ blog.title }}
                            </div>
                            <div class="card-body justify-content-center" style="height: 150px;">
                                <div class="card-text">{{ blog.description }}</div>
                            </div>
                            <div class="card-footer float-right" style="text-align: right;background-color: white">
                                <a class="btn btn-secondary" href="/blogs/edit/?id={{ blog.blogId }}">Edit</a>
                                <a class="btn btn-danger"
                                   href="/blogs/delete/?id={{ blog.blogId }}">Delete</a>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

{% endblock javascripts %}
