{% extends 'layouts/base.html' %}
{% load static %}
{% block headContent %}
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <style>
        #description > * {
            color: black !important;
            font-size: 17px;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="col-sm-12 grid-margin">
            <div class="card">
                <div class="card-header font-weight-semibold"
                     style="background-image: url('{% static 'images/classroom-bg.jpg' %}');color: white;height: 200px;text-align: center;">

                    <h2>{{ blog.title }}</h2>

                </div>
                 <div class="card-body">
                    <div class="card-text"
                         style="white-space: pre-wrap;" id="description"></div>
                    <script>
                        document.getElementById('description').innerHTML =
                            marked(`{{ blog.description }}`);
                    </script>
                </div>
            </div>
        </div>
    </div><br>
{% endblock %}

{% block javascripts %}
{% endblock %}