/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

/* body {
  font-family: "Poppins", sans-serif;
  background: #fafafa;
} */
html {
    position: relative;
    min-height: 100%;
}

body {
    bottom: 100px;
    font-family: "Poppins", sans-serif;
    background: #F3F3F3
}

p {
    font-family: "Poppins", sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

a,
a:hover,
a:focus {
    color: inherit;
    /*text-decoration: none;*/
    transition: all 0.3s;
}

.navbar {
    background: white;
    border: none;
    border-radius: 0;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 270px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #1026de;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -270px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #1026de;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386d5;
    background: #fff;
}

#sidebar ul li.active > a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386d5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 270px);
    /* padding: 40px; */
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.main {
    padding: 40px;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -270px;
    }

    #sidebar.active {
        margin-left: 0;
    }

    #content {
        width: 100%;
    }

    #content.active {
        width: calc(100% - 270px);
    }

    #sidebarCollapse span {
        display: none;
    }
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}

/*.footer {*/
/*  position: relative;*/
/*  bottom: 0 !important;*/
/*  background: #dbdbdb;*/
/*  padding: 20px 1rem;*/
/*  transition: all 0.25s ease;*/
/*  -moz-transition: all 0.25s ease;*/
/*  -webkit-transition: all 0.25s ease;*/
/*  -ms-transition: all 0.25s ease;*/
/*  border-top: 1px solid #cdd6dc;*/
/*  font-size: calc(0.875rem - 0.05rem);*/
/*  font-family: "roboto", sans-serif;*/
/*}*/
.footer a {
    font-size: inherit;
}

@media (max-width: 991px) {
    .footer {
        margin-left: 0;
        width: 100%;
    }
}

.profile-pic {
    height: 40px !important;
    width: 40px !important;
}