<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Contest</title>
</head>
<body>
        <form method="POST" action="/contests/create/" novalidate="">
        {% csrf_token %}
            <div>
                {% if errorMessage %}
                    {{ errorMessage }}
                {% endif %}
            </div>
            <div>
                <input type="hidden" name="classId" id="classId"
                        value="{{ classId }}">
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" type="text" value="{{ title }}"
                       name="title" value="" required autofocus>
            </div>

            <div>
                <label for="description">Description</label>
                <textarea id="description" type="text" value="{{ description }}"
                       name="description" value="" required autofocus>
                </textarea>
            </div>

            <div class="form-group">
                <label for="startTime">Start Time</label>
                <input id="startTime" type="datetime-local" value="{{ startTime }}"
                       name="startTime" value="" required autofocus>
            </div>

            <div class="form-group">
                <label for="endTime">Start Time</label>
                <input id="endTime" type="datetime-local" value="{{ endTime }}"
                       name="endTime" value="" required autofocus>
            </div>

{#            <div class="form-group">#}
{#                <label for="isPrivate">Is it Private ?</label>#}
{#                <input type="checkbox" id="isPrivate" name="isPrivate"#}
{#                        value="True" required>#}
{#            </div>#}

            <div class="form-group">
                <label for="difficulty">Difficulty</label>
                <select id="difficulty"
                        name="difficulty" required>
                    <option value="EASY">Easy</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HARD">Hard</option>
                </select>
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-block">
                    Create
                </button>
            </div>
        </form>
</body>

{#<script>#}
{#    startTimeId.min = new Date().toISOString().split("T")[0];#}
{#    endTimeId.max = new Date().toISOString().split("T")[0]#}
{#</script>#}

</html>


