{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="/contests/delete/" novalidate="">
        {% csrf_token %}

        <input id="contestId" type="hidden" value="{{ contest.contestId }}"
               name="contestId">

        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h4 class="text-danger ml-2">
                        Are You Sure you want to delete '{{ contest.title }}' ?
                    </h4><br>
                    {% if errorMessage %}
                        <h5 class="text-danger">{{errorMessage}}</h5>
                    {% endif %}
                    <div>
                        <div class="p-1"><b>Name :- </b>{{ contest.title }}</div>
                        <div class="p-1"><b>Description :- </b>{{ contest.description }}</div>
                        <div class="p-1"><b>Start Time :- </b>{{ contest.startTime }}</div>
                        <div class="p-1"><b>End Time :- </b>{{ contest.endTime }}</div>
                    </div>

                    <div class="float-right">
                        <a class="btn btn-secondary" href="/contests/?classId={{ contest.classroom.classId }}">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

