<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Delete Confirmed Contest</title>
</head>
<body>
    <form method="POST" action="/contests/delete/" novalidate="">
        {% csrf_token %}
        <div>
            {% if errorMessage %}
                {{ errorMessage }}
            {% endif %}
        </div>

        <input id="contestId" type="hidden" value="{{ contest.contestId }}"
               name="contestId">

        Are You sure want to delete Contest? <br><hr>

        Contest Id : {{ contest.contestId }}
        Classroom Id : {{ contest.classroom.classId }}<br>
        Title : {{ contest.title }}<br>
        Description : {{ contest.description }}<br>
        registeredUsersCount : {{ contest.registeredUsersCount }}<br>
        Start Time : {{ contest.startTime }}<br>
        End Time : {{ contest.endTime }}<br>
        Is Private? : {{ contest.isPrivate }}<br>
        Difficulty : {{ contest.difficulty }}<br>

        <div class="form-group m-0">
            <button type="submit" class="btn btn-danger btn-block">
                Delete
            </button>
        </div>

    </form>
</body>
</html>