{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <div class="row">
        <div class="col-sm-12">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/users/home">Home</a></li>
                    <li class="breadcrumb-item"><a href="/classroom">My Classrooms</a></li>
                    <li class="breadcrumb-item"><a
                            href="/classroom/view/?id={{ classroom.classId }}">{{ classroom.name }}</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Contests</li>
                </ol>
            </nav>
        </div>
    </div>
    {% if user.isStudent %}
    {% else %}
        <div class="row">
            <div class="col-sm-12">
                <div class="page-header-toolbar float-md-left">
                    <div class="sort-wrapper text-danger font-weight-bold">
                        {{ msg }}
                    </div>
                </div>
                <div class="page-header-toolbar float-right">
                    <div class="sort-wrapper">
                        <a href="/contests/create?classId={{ classId }}" class="btn btn-primary toolbar-item"><i
                                class="fa fa-plus" aria-hidden="true"></i> Create New Contest</a>
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endif %}

    {% for contest in contests %}
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body container">
                        <h4 class="text-primary">{{ contest.title }}</h4>
                        <div class="row">
                            <div class="mt-1 col-md-6 col-sm-6">
                                <p class="card-text h6">
                                    {{ contest.description }}
                                </p>
                            </div>
                        </div>
                        <br>
                        <div class="row float-right">
                            <div class="col-md-12 col-sm-6">
                                {% if not user.isStudent %}

                                    <a href="/contests/edit?id={{ contest.contestId }}"
                                       class="btn btn-secondary m-1">Edit Contest</a>
                                    <a href="/contests/delete?id={{ contest.contestId }}"
                                       class="btn btn-danger m-1">Delete Contest</a>
                                    <a href="/problems/?contestId={{ contest.contestId }}"
                                       class="btn btn-primary">View Problems</a>

                                {% else %}

                                    {% if currentTime < contest.startTime %}
                                        <a href="/contests/leaderboard?id={{ contest.contestId }}"
                                           class="btn btn-success m-1 disabled"><i class="fa fa-trophy"></i> Leaderboard</a>
                                        <a href="/problems/?contestId={{ contest.contestId }}"
                                           class="btn btn-primary disabled">View Problems</a>
                                    {% else %}
                                        <a href="/contests/leaderboard?id={{ contest.contestId }}"
                                            class="btn btn-success m-1"><i class="fa fa-trophy"></i> Leaderboard</a>
                                        <a href="/problems/?contestId={{ contest.contestId }}"
                                            class="btn btn-primary">View Problems</a>
                                    {% endif %}

                                {% endif %}
                            </div>
                        </div>
                        {#                        <br>#}
                        <div class="text-muted">
                            Start Time : {{ contest.startTime }}
                            <br>
                            {% if currentTime < contest.startTime %}
                                Status : <span class="small text-success">Not started yet</span>
                            {%  elif currentTime > contest.startTime %}
                                Status : <span class="small text-success">Finished</span>
                            {% else %}
                                Status : <span class="small text-danger">Running!</span>
                            {%  endif %}
                        </div>
                        {#                        <div class="text-muted">{{ contest.endTime }}</div>#}
                    </div>
                </div>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}

{% block javascripts %}
{% endblock %}
