{% load static %}
<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light" style="background-color: white !important;">
    <div class="container-fluid">

        <button type="button" id="sidebarCollapse" class="btn btn-lg btn-primary">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>

        <h5 class="text-center">Hello,{{ user.username }}</h5>
    </div>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item dropdown d-none d-xl-inline-block user-dropdown">
            <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown"
               aria-expanded="false">
                <img class="img-xs rounded-circle profile-pic" src="/uploads/{{ user.profilePicture }}"
                     alt="Profile image">
            </a>
            <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
                <div class="dropdown-header text-center">
                    <img class="img-md rounded-circle profile-pic" src="/uploads/{{ user.profilePicture }}"
                         alt="Profile image">
                    <p class="mb-1 mt-3 font-weight-semibold">{{ user.username }}</p>
                    <p class="font-weight-light text-muted mb-0">{{ user.email }}</p>
                </div>
                <a class="dropdown-item">My Profile <span class="badge badge-pill badge-danger">1</span><i
                        class="dropdown-item-icon ti-dashboard"></i></a>
                <a href="/users/logout" class="dropdown-item">Sign Out<i
                        class="dropdown-item-icon ti-power-off"></i></a>
            </div>
        </li>
    </ul>
</nav>