<!DOCTYPE html>
<html lang="en">
{% load static%}
<head>
    <meta charset="UTF-8">
    <title>Create Lab</title>
</head>
<body>
    <form method="POST" action="/labs/create/" novalidate="">
        {% csrf_token %}
        <div>
            {% if errorMessage %}
                {{ errorMessage }}
            {% endif %}
        </div>

        <div>
                <input type="hidden" name="classId" id="classId"
                        value="{{ classId }}">
        </div>

        <div class="form-group">
            <label for="title">Title</label>
            <input id="title" type="text" value="{{ lab.title }}"
                   name="title" value="" required autofocus>
        </div>

         <div class="form-group">
            <label for="subject">Subject</label>
            <input id="subject" type="text" value="{{ lab.subject }}"
                   name="subject" value="" required autofocus>
        </div>

        <div>
            <label for="description">Description</label>
            <textarea id="description" type="text" value="{{ lab.description }}"
                   name="description" value="" required autofocus>
            </textarea>
        </div>

        <div>
            <label for="deadline">Deadline</label>
            <input id="deadline" type="datetime-local" value="{{ lab.deadline }}"
                   name="deadline" value="" required autofocus>
            </input>
        </div>

        <div>
            <button type="submit" class="btn btn-primary btn-block">
                Create
            </button>
        </div>
    </form>
</body>
</html>