<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Contest</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
</head>
<body>
        <form method="POST" action="/problems/create/?{{ idName }}={{ idValue }}" novalidate="">
        {% csrf_token %}
            <div>
                {% if errorMessage %}
                    {{ errorMessage }}
                {% endif %}
            </div>
            <div>
                <input type="hidden" name="{{ idName }}" id="{{ idName }}"
                        value="{{ idValue }}">
            </div>

            <div class="form-group">
                <label for="title">Title</label>
                <input id="title" type="text" value="{{ title }}"
                       name="title" value="" required autofocus>
            </div>

            <div>
                <input type="hidden" name="description" id="description"
                        value="">
            </div>
            <div>
                <label for="MDDescription">Description</label><br>
                <textarea id="MDDescription" type="text" rows="10" cols="50" value="{{ description }}"
                       name="MDDescription" value="" required autofocus>
                </textarea>
            </div>

            <div class="form-group">
                <label for="difficulty">Difficulty</label>
                <select id="difficulty"
                        name="difficulty" required>
                    <option value="EASY">Easy</option>
                    <option value="MEDIUM">Medium</option>
                    <option value="HARD">Hard</option>
                </select>
            </div>

            <div>
                <label for="points">Points</label>
                <input id="points" type="number" value="{{ points }}"
                       name="points" required autofocus>
                </input>
            </div>


            <div>
                <label for="timeLimit">Time Limit</label>
                <input id="timeLimit" type="number" value="{{ timeLimit }}"
                       name="timeLimit" required autofocus>
                </input>
            </div>

            <div>
                <button type="submit" class="btn btn-primary btn-block" OnClick="return validate();">
                    Create
                </button>
            </div>
        </form>
</body>

<script>

    let simplemde = new SimpleMDE({
        element: document.getElementById("MDDescription"),
        toolbar: ["bold", "italic", "heading"],
    });

    function validate(){
        console.log(simplemde.value());
        document.getElementById("description").value = simplemde.value();
    }
</script>

</html>


