{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
    <form method="post" action="/problems/delete/" novalidate="">
        {% csrf_token %}

        <div>
            <input type="hidden" name="{{ idName }}" id="{{ idName }}" value="{{ idValue }}">
        </div>

        <div>
            <input type="hidden" name="pid" id="pid" value="{{ problem.problemId }}">
        </div>

        <div class="row">
            <div class="col-sm-12">
                <div class="jumbotron">
                    <h4 class="text-danger ml-2">
                        Are You Sure you want to delete '{{ problem.title }}' problem from
                        '{{ problem.lab.title }}{{ problem.contest.title }}' ?
                    </h4><br>
                    {% if errorMessage %}
                        <h5 class="text-danger">errorMessage</h5>
                    {% endif %}
                    <div>
                        <div class="p-1"><b>Name :- </b>{{ problem.title }}</div>
                        <div class="p-1"><b>Points :- </b>{{ problem.points }}</div>
                        <div class="p-1"><b>Difficulty :- </b>{{ problem.difficulty }}</div>
                    </div>

                    <div class="float-right">
                        <a onClick="javascript:history.go(-1);" class="btn btn-secondary" href="#">Cancel</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </div>
                    <br>
                </div>
            </div>
        </div>
    </form>
{% endblock %}

