<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Problem list</title>
</head>
<body>
    {% if user.isStudent %}
    {% else %}
        <a href="/problems/create?{{ idName }}={{ idValue }}">
            <button type="submit" class="btn btn-primary btn-block">
                Create New Problem
            </button>
        </a>
        <br><hr>
    {% endif %}

     {% if isItLab %}

    Lab Id : {{ object.labId }} <br>
    Classroom Id : {{ object.classroom.classId }}<br>
    Title : {{ object.title }}<br>
    Description : {{ object.description }}<br>
    Subject : {{ object.subject }}<br>
    Deadline  : {{ object.deadline }}<br>

    {% else %}

      Contest Id : {{ object.contestId }}
    Classroom Id : {{ object.classroom.classId }}<br>
    Title : {{ object.title }}<br>
    Description : {{ object.description }}<br>
    registeredUsersCount : {{ object.registeredUsersCount }}<br>
    Start Time : {{ object.startTime }}<br>
    End Time : {{ object.endTime }}<br>
    Is Private? : {{ object.isPrivate }}<br>
    Difficulty : {{ object.difficulty }}<br>

    {% endif %}

    <br><br>
    <hr>

    {% for problem in problems %}
        <hr>
        Problem Id : {{ problem.problemId }}<br>
        Contest Id : {{ problem.contest.contestId }}<br>
        Lab Id : {{ problem.lab.labId }}<br>
        Title : {{ problem.title }}<br>
        Description : <p style="white-space: pre-wrap;">{{ problem.description }}</p><br>
        Difficulty : {{ problem.difficulty }}<br>
        Points : {{ problem.points }}<br>
        TimeLimit : {{ problem.timeLimit }}<br>
        <a href="/problems/view?pid={{ problem.problemId }}&&{{ idName }}={{ idValue }}">
            <button type="submit" class="btn btn-primary btn-block">
                Select
            </button>
        </a>
        <br><br>
        <hr>
    {% endfor %}
</body>
</html>