<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test List</title>
</head>
<body>
        <form method="POST" action="/problems/testCreate/" novalidate="" enctype="multipart/form-data">
        {% csrf_token %}
            <div>
                {% if errorMessage %}
                    {{ errorMessage }}
                {% endif %}
            </div>
            <div>
                <input type="hidden" name="pid" id="pid"
                        value="{{ pid }}">
            </div>
            <div class="form-group">
                <label for="inputFile">Input File</label>
                <input id="inputFile" type="file" value="{{ inputFile }}"
                       name="inputFile" value="" required autofocus>
            </div>

            <div>
                <label for="outputFile">Output File</label>
                <input id="outputFile" type="file" value="{{ outputFile }}"
                       name="outputFile" value="" required autofocus>
            </div>
            <div>
                <button type="submit" class="btn btn-primary btn-block">
                    Create
                </button>
            </div>
        </form>

    </a>
    <br><hr>
    {% for test in tests %}
        Test Case Id : {{ test.testCaseId }}<br>
        Problem Id : {{ test.problem.problemId }}<br>
        Input File : {{  test.inputFile }}<br>
        Output File : {{ test.outputFile }}<br>
        <a href="/problems/testDelete?pid={{ test.problem.problemId }}&&{{ tid }}={{ test.testCaseId }}">
            <button type="submit" class="btn btn-primary btn-block">
                Remove
            </button>
        </a>
        <br><br>
    {% endfor %}
</body>
</html>